# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2025 Robin Jarry
# See https://editorconfig.org/ for syntax reference.

root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[.git/**]
max_line_length = 72

[meson.build]
indent_style = tab
tab_width = 8
max_line_length = 100

[*.{c,h}]
indent_style = tab
tab_width = 8
max_line_length = 100

[*.md]
max_line_length = 80

[*.sh]
indent_style = tab
tab_width = 8

[*.{yml,yaml}]
indent_style = space
indent_size = 2
